{% extends "_base.html" %}

{% block title %}All Members{% endblock %}

{% block content %}
    <h1>Members</h1>

    {% if member_list.count == 0 %}
        <h5>No members in the system</h5>
    {% else %}
        {% for member in member_list %}
            <h3><a href="{% url 'member_detail' member.pk %}">{{ member.first_name }} {{ member.last_name }}</a></h3>
            {% if member.email is None %}
                <p>No email provided</p>
            {% else %}
                <p>Email: {{ member.email }}</p>
            {% endif %}
            {% if member.phone_number is None %}
                <p>No Phone number provided</p>
            {% else %}
                <p>Phone: {{ member.phone_number }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}