{% extends "_base.html" %}

{% block title %}{{ ufac }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-2 mt-5">{{ ufac }}</h1>
        <div class="row">
            <div class="col-1">
                <div class="fs-2 my-3">
                    <form action="{% url 'ufac_edit' ufac.pk %}" method="get">
                        <input type="submit" value="Edit" class="btn btn-primary"></input>
                    </form>
                </div>
            </div>
            <div class="col-1">
                <div class="fs-2 my-3">
                    <form action="{% url 'ufac_delete' ufac.pk %}" method="get">
                        <input type="submit" value="Delete" class="btn btn-danger"></input>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="display-4 fs-2 mb-3">
                MyFitness User Agreement Letter
            </div>
        </div>
        <div class="embed-responsive mb-3">
            <iframe class="embed-responsive-item"
                    style="height:50vh; width: 100%;"
                    src="{% autoescape off %}{{ ufac.user_agreement }}{% endautoescape %}"></iframe>
        </div>
        <div class="container">
            <div class="display-4 fs-2 mb-3">
                MyFitness Written Order
            </div>
        </div>
        <div class="embed-responsive mb-3">
            <iframe class="embed-responsive-item"
                    style="height:50vh; width: 100%;"
                    src="{% autoescape off %}{{ ufac.written_order }}{% endautoescape %}"></iframe>
        </div>
        <div class="container">
            <div class="display-4 fs-2 mb-3">
                DD Form 2875 - System Authorization Request Letter
            </div>
        </div>
        <div class="embed-responsive mb-3">
            <iframe class="embed-responsive-item"
                    style="height:50vh; width: 100%;"
                    src="{% autoescape off %}{{ ufac.system_authorization_request }}{% endautoescape %}"></iframe>
        </div>
    </div>
{% endblock %}