{% extends "_base.html" %}

{% block title %}Video List{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="display-4">Video List</div>
        {% if user.is_authenticated %}
            <div class="fs-5 my-2">
                <a href="{% url 'videos:video_new' %}" class="text-decoration-none">+ Create Video</a>
            </div>
        {% endif %}

        <form class="d-flex" action="{% url 'videos:search_results' %}" method="get">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-\
                   label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>

        <hr>
        {% for video in video_list %}
            <div class="display-4 fs-2 mb-3"><a href="{% url 'videos:video_detail' video.pk %}"
                                                class="text-decoration-none">{{ video.title }}</a></div>
            <div class="fs-2">
                <div class="row">
                    <div class="col-1">
                        <form action="{% url 'videos:video_detail' video.pk %}">
                            <input class="btn btn-dark btn-lg" type="submit" value="View">
                        </form>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="col-1">
                            <form action="{% url 'videos:video_edit' video.pk %}">
                                <input class="btn btn-success btn-lg" type="submit" value="Edit">
                            </form>
                        </div>
                        <div class="col-1">
                            <form action="{% url 'videos:video_delete' video.pk %}">
                                <input class="btn btn-danger btn-lg" type="submit" value="Delete">
                            </form>
                        </div>
                    {% endif %}
                </div>
                <br class="py-3">
            </div>
        {% endfor %}
    </div>

    {% if video_list %}
        {% if is_paginated %}
            <div class="container text-center">
                <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}