{% load static %}
{% load admin_urls %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Unit Fitness{% endblock %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top p-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/Air-Force-Logo.png' %}" alt="Air Force Fitness" height="auto" width="80px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'ptl_list' %}">PTLs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'ufpm_list' %}">UFPMs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'ufac_list' %}">UFACs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'assessment_list' %}">Assessments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reports</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'videos:video_list' %}">Videos</a>
                </li>
                {% if document_list.count != 0 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Documents
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'documents:all_documents' %}">All Documents</a>
                            </li>
                            {% for document in document_type_list %}
                                {% if document.type == "Appointment Letter" %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="{% url 'documents:appointment_letter_list' %}">{{ document.type }}</a>
                                    </li>
                                {% elif document.type == "Google Form" %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="{% url 'documents:google_form_list' %}">{{ document.type }}</a>
                                    </li>
                                {% elif document.type == "Information" %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="{% url 'documents:information_list' %}">{{ document.type }}</a>
                                    </li>
                                {% elif document.type == "Testing Form" %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="{% url 'documents:testing_form_list' %}">{{ document.type }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% elif user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'documents:document_new' %}">Create Document</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Contact Us
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://forms.gle/7AYSTvMPTBd7ofCP7" target="_blank">Reschedule/Cancel
                            PT</a></li>
                        <li><a class="dropdown-item" href="https://forms.gle/ucghcFDPREeZknLa9" target="_blank">Fitness
                            Printout</a></li>
                        <li><a class="dropdown-item" href="https://forms.gle/ucghcFDPREeZknLa9" target="_blank">Questions?</a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout<i
                                class="px-2 fa fa-sign-out"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login <i
                                class="px-1 fa fa-sign-in"></i></a>
                    </li>
                {% endif %}
                %}
            </ul>
        </div>
    </div>
</nav>
<div id="page-container">
    <div id="content-wrap">
        <div class="container-fluid m-0 p-0">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<!-- FOOTER START -->
<div id="page-container">
    <div class="footer bg-dark p-5 mt-5">
        <div class="container">
            <div class="col">
                <h1 class="fs-6 text-light">349th ASTS Fitness</h1>
                <ul>
                    <li><a href="{% url 'documents:bulletin_list' %}"
                           class="text-decoration-none link-light">Bulletin</a>
                    </li>
                    <li><a href="https://forms.gle/ucghcFDPREeZknLa9" class="text-decoration-none link-light"
                           target="_blank">Get in Touch</a></li>
                    <li>
                        <a href="https://a1-ims.okta.com/" class="text-decoration-none link-light"
                           target="_blank">MyFSS</a>
                    </li>
                    <li>
                        <a href="{% url 'admin:index' %}" class="text-decoration-none link-light">Admin</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSczMQODSo0F8X8q06bZ78M1cCss2QGsIk_Y4VeqkvLvSROAug/viewform"
                           class="text-decoration-none link-light">Be-Well Training</a>
                    </li>
                </ul>
            </div>
            <div class="col social">
                <h1 class="fs-6 text-light">Social</h1>
                <ul>
                    <li class="mx-1"><a class="link-light" href="https://www.facebook.com/groups/175279723835575"
                                        target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
                    <li class="mx-1"><a class="link-light" href="https://www.instagram.com/349astsfitness/"
                                        target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
                    <li class="mx-1"><a class="link-light" title="Email UFPM" href="mailto: 349th.asts.ufpm@gmail.com"
                                        target="_blank"><i class="fa fa-envelope-open-text fa-2xl"></i></a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- END OF FOOTER -->

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!-- Local JS -->
<script src="{% static 'js/base.js' %}"></script>
</body>
</html>