{% extends "_base.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="display-1 mb-2 text-center">FAQ</div>
        <div class="fs-3 mb-1 text-center">How can we help you?</div>
        <div class="text-center mb-5">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSedYTR4rXtMyCtrdPDm-nCwR8GRA9sjBaSRjJIMw1IvQhuUZA/viewform?embedded=true"
                    align="center" width="800" height="750" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading…
            </iframe>
        </div>
        {% for faq in faq_list %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading{{ faq.pk }}">
                        <button class="btn btn-primary accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{ faq.pk }}" aria-expanded="false"
                                aria-controls="flush-collapse{{ faq.pk }}">
                            {{ faq.question | markdown | safe }}
                        </button>
                    </h4>
                    <div id="flush-collapse{{ faq.pk }}" class="accordion-collapse collapse"
                         aria-labelledby="flush-{{ faq.pk }}"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ faq.answer | markdown | safe }}</div>
                        <div class="accordion-body">DAFMAN 36-2905: {{ faq.dafman_documentation | markdown | safe }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}