{% extends "_base.html" %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="display-1 mb-2 text-center">FAQ</div>
        <div class="fs-3 mb-5 text-center">How can we help you?</div>
        {% for faq in faq_list %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ faq.pk }}">
                        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{ faq.pk }}" aria-expanded="false"
                                aria-controls="flush-collapse{{ faq.pk }}">
                            {{ faq.question }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ faq.pk }}" class="accordion-collapse collapse" aria-labelledby="flush-{{ faq.pk }}"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ faq.answer }}</div>
                        <div class="accordion-body">DAFMAN 36-2905: {{ faq.dafman_documentation }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}