{% extends "_base.html" %}
{% load static %}

{% block title %}Unit Fitness Homepage{% endblock %}

{% block content %}
    <div class="container-fluid m-0 p-0">
        <img id="homepage-image" src="{% static 'images/fitness-homepage.jpg' %}" alt="We Keep It Moving">
        <div class="container">
            <h1 id="homepage-header" class="display-1 mt-5 text-dark text-center">349th ASTS Fitness</h1>
            <hr class="mb-4">
            <h4 class="text-center display-4">Vision</h4>
            <p class="text-center fs-3">The Premier Aeromedical Staging Squadron... Diverse, Ready, Elite Airmen.</p>
            <br>
            <h4 class="text-center display-4">Mission</h4>
            <p class="text-center fs-3">Deliver en route patient staging and medical care throughout the aeromedical
                evacuation system.</p>
        </div>
    </div>
{% endblock %}