{% extends "_base.html" %}

{% block title %}{{ appointment_letter }}{% endblock %}

{% block content %}
    <div class="container mx-5">
        <h1 class="display-2 mt-5">{{ appointment_letter }}</h1>
        <div class="row">
            <div class="col-1">
                <div class="fs-2 my-3">
                    <form action="{% url 'document_edit' appointment_letter.pk %}" method="get">
                        <input type="submit" value="Edit" class="btn btn-primary"></input>
                    </form>
                </div>
            </div>
            <div class="col-1">
                <div class="fs-2 my-3">
                    <form action="{% url 'document_delete' appointment_letter.pk %}" method="get">
                        <input type="submit" value="Delete" class="btn btn-danger"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}