{% extends "_base.html" %}

{% block title %}Information{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="container">
            <h1 class="display-4">Information</h1>
            {% if user.is_authenticated %}
                <div class="fs-5 my-3">
                    <a href="{% url 'document_new' %}" class="text-decoration-none">+ Create Appointment Letter</a>
                </div>
            {% endif %}
            <hr>
            {% for information in information_list %}
                {% if information.type == "Information" %}
                    <div class="display-4 fs-3 mb-3">
                        <a class="text-decoration-none" href="{{ information.url }}"
                           target="_blank">{{ information.title }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}