{% extends "_base.html" %}

{% block title %}Google Forms{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="container">
            <div class="display-4">Google Forms</div>
            {% if user.is_authenticated %}
                <div class="fs-5 my-3">
                    <a href="{% url 'document_new' %}" class="text-decoration-none">+ Create Document</a>
                </div>
            {% endif %}
            <hr>
            {% for google_form in google_form_list %}
                {% if google_form.type == "Google Form" %}
                    <div class="display-4 fs-4 pb-3">
                        <a href="{% url 'document_detail' google_form.pk %}"
                           class="text-decoration-none">{{ google_form.title }}</a>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="row mb-4">
                            <div class="col-1">
                                <div class="fs-2">
                                    <form action="{% url 'document_detail' google_form.pk %}" method="get">
                                        <input type="submit" value="View" class="btn btn-secondary"></input>
                                    </form>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="fs-2">
                                    <form action="{% url 'document_edit' google_form.pk %}" method="get">
                                        <input type="submit" value="Edit" class="btn btn-primary"></input>
                                    </form>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="fs-2">
                                    <form action="{% url 'document_delete' google_form.pk %}" method="get">
                                        <input type="submit" value="Delete" class="btn btn-danger"></input>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}