{% extends "_base.html" %}

{% block title %}Testing Forms{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="container">
            <h1 class="display-4">Testing Forms</h1>
            {% if user.is_authenticated %}
                <div class="fs-5 my-3">
                    <a href="{% url 'documents:document_new' %}" class="text-decoration-none">+ Create Document</a>
                </div>
            {% endif %}
            <hr>
            {% for testing_form in document_list %}
                {% if testing_form.type == "Testing Form" %}
                    <div class="display-4 fs-3 mb-3">
                        <a class="text-decoration-none" href="{% url 'documents:document_detail' testing_form.pk %}"
                        >{{ testing_form.title }}</a>
                    </div>
                    <div class="fs-2">
                        <div class="row">
                            <div class="col-1">
                                <form action="{% url 'documents:document_detail' testing_form.pk %}">
                                    <input class="btn btn-dark" type="submit" value="View">
                                </form>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="col-1">
                                    <form action="{% url 'documents:document_edit' testing_form.pk %}">
                                        <input class="btn btn-success" type="submit" value="Edit">
                                    </form>
                                </div>
                                <div class="col-1">
                                    <form action="{% url 'documents:document_delete' testing_form.pk %}">
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <br class="py-3">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}