{% extends "_base.html" %}

{% block title %}Testing Forms{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="container">
            <h1 class="display-4">Testing Forms</h1>
            <hr>
            {% for testing_form in testing_form_list %}
                {% if testing_form.type == "Testing Form" %}
                    <div class="display-4 fs-3 mb-3">
                        <a class="text-decoration-none" href="{{ testing_form.url }}" target="_blank">{{ testing_form.title }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}